/* --------------- Font Embeding */

@font-face {
    font-family: 'TOONISH';
    src: url('http://foundry.bausermandev.com/wp-content/themes/foundry/fonts/TOONISH.eot');
    src: url('http://foundry.bausermandev.com/wp-content/themes/foundry/fonts/TOONISH.eot?#iefix') format('embedded-opentype'),
    url('http://foundry.bausermandev.com/wp-content/themes/foundry/fonts/TOONISH.ttf') format('truetype'),
    url('http://foundry.bausermandev.com/wp-content/themes/foundry/fonts/toonish-webfont.svg#TOONISH') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Throw_My_Hands_Up_in_the_Air';
    src: url('http://foundry.bausermandev.com/wp-content/themes/foundry/fonts/Throw_My_Hands_Up_in_the_Air.eot');
    src: local('☺'), url('http://foundry.bausermandev.com/wp-content/themes/foundry/fonts/Throw_My_Hands_Up_in_the_Air.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Header */
body {
    /*background: url(http://foundry.org/wp-content/themes/kids/images/white-paper-bg.jpg) repeat scroll 0 0 transparent;*/
}

header#masthead {
    background: transparent;
}

header#masthead a {
    color: #b8cb02;
}

/* Navigation */

.nav {
    color: #fff;
    /*background-color: #64b5f6;*/
    width: 100%;
    /*height: 56px;*/
    line-height: 1.5;
    overflow: hidden;
    padding-top: 4rem;
}

nav ul li:hover, nav ul li.active {
    background-color: #2196f3;
}
@media only screen and (max-width: 992px) {
    nav ul li:hover, nav ul li.active {
        background-color: transparent;
    }
}
.nav-links .btn {
    background: #2196f3;
}
.current-menu-item {
    background-color: #00aeef;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
     background-color: #2196f3;
}
/* Content */

.card .card-title, .card .card-title a {
    color: #1976d2;
}

.card a:hover {
    color: #64b5f6;
}

.card-action {
    background: #e3f2fd;
}

.card a {
    color: #039be5;
    margin-right: 0;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
#secondary h1.widget-title {
    background: #2196f3;
    color: #fff;
}
h1 {
    font-size: 2.6rem;
    line-height: 1.4;
    margin: 2.1rem 0 0.2rem 0;
    color: #b8cb02;
}

h2 {
    font-size: 2.56rem;
    line-height: 1.5;
    margin: 1.78rem 0 1.424rem 0;
}

h2 {
    font-family: TOONISH,Georgia,"Times New Roman",Times,serif;
    color:#00aeef;
    text-transform: uppercase;
}
h2.comments-title, h3#reply-title {
    color: #fff;
    background: #2196f3;
    padding: 0 20px;
}
h3 {
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    color:#6b6969;
    font-size: 1.76rem;
}
h4 {
    font-size: 1.7rem;
    line-height: 2;
    margin: 0.14rem 0 0.8rem 0;
    color: #efefef;
}

.btn, .btn-large {
    text-decoration: none;
    color: #FFF;
    background-color: #2196f3;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.depth-2 {
    border-left: 5px solid #64b5f6;
}
.site-info {
    padding: 20px;
    /* background: #efefef; */
    color: #afaeae;
}

.site-info a {
    color: #afaeae;
}

.dropdown-content {
    background-color: #FFFFFF;
    margin: 0;
    display: none;
    min-width: 300px; /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
}

.our-hours i {
    font-size: 3.7rem;
    color: #a6ce39;
}

.bm-20 {
    margin-bottom: 20px;
}

#slider-bg {
    background: url(/wp-content/uploads/homepage-bg.png) no-repeat center center;
    background-size: 100% auto !important;;
}
#slider-bg {
    height: 235px;
    width: 1117px;
}
.zin-0 {
    z-index: 0;
}
.home-slider {
    margin-top: -180px;
}

#primary-sidebar {
    padding-top: 22px;
}
.green-back {
    background-color:#b8cb02;
    padding: 1rem;
}

.green-line {
    background-color:#b8cb02 ;
    line-height: 1;
    height: .35rem;
    margin-bottom: 1.22rem;
}

/* shadow effect */

.shadow {
    -webkit-box-shadow: 0px 10px 22px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 22px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 22px -12px rgba(0,0,0,0.75);
}

nav .button-collapse {
    float: right;
    position: relative;
    z-index: 1;
    height: 56px;
}
.white-back {
    padding: .8rem;
    background-color: #efefef;
}

p.excerpt-bottom {
    color: #efefef;
}

a.read-link {
    font-family: TOONISH,Georgia,"Times New Roman",Times,serif;
    color: #00aeef;
    text-transform: uppercase;
    font-size: 1.5rem;
}

a.read-link:hover {
    color: #efefef;
}
span.callout {
    font-size: 1.45rem;
    color: #6d6d6d;
}
p#breadcrumbs {
    color: #fff;
    margin: 1rem;
}

.card {
    position: relative;
    overflow: hidden;
    margin: 1.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    padding-left: .9rem;
}
.rpwidget .collection-item.avatar {
    height: 100%;
    padding-left: 16px;
    position: relative;
}
nav .button-collapse i {
    font-size: 2.7rem;
    height: 56px;
    line-height: 56px;
    border: solid 1px;
    padding: 0 8px;
}

.foot-right {
    float: right !important;
}
@media only screen and (max-width: 992px) {
    .foot-right {
        float: left !important;
    }
}
