/*
Theme Name: Foundry Forged
Theme URI: https://www.foundryideas.com/
Author: Foundry
Author URI: https://www.foundryideas.com/
Description: Custom theme built by the team at Foundry. To customize theme add a child theme.
Version: 1.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: foundry
Tags:
Bitbucket Theme URI:  https://kylebihler@bitbucket.org/foundryideas/foundry.git
Bitbucket Branch:  master

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

foundry is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html{
	box-sizing:border-box;
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight:normal;
	font-style:normal;
	letter-spacing:0.1em;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	color: rgba(0,0,0,.8);
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
	font-size:16px;
	line-height:1.58;
}
@media(min-width:600px){
	html{
		font-size:100%;}
}
@media(min-width:993px){
	html{
		font-size:130%;}
}
@media(min-width:1280px){
	html{
		font-size:140%}
}
@media(min-width:1400px){
	html{
		font-size:150%;
	}
}

body,
button,
input,
select,
textarea {
	color: #404040;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1.site-title {
	margin: 1rem 0;
	font-size: 3em;
}

h2.site-description {
	font-size: 2.0rem;
	line-height: 2.4;
	margin: 1rem 0 1.424rem 0;
	font-weight: 300;
}

h1{
	font-size: 230%;
	line-height: 1;
	padding:1em 0 .5em 0;
	margin:0;
}
@media(min-width:600px){
	h1{
		font-size:260%;
	}
}
@media(min-width:993px){
	h1{
		font-size:280%;
	}
}
@media(min-width:1280px){
	h1{
		font-size:300%;
	}
}
@media(min-width:1400px){
	h1{
		font-size:320%;
	}
}

h2 {
	font-size: 200%;
	line-height: 1;
	padding:1em 0 .5em 0;
	margin:0;
	text-transform: uppercase;
}
@media(min-width:600px){
	h2{
		font-size:300%;
	}
}
@media(min-width:993px){
	h2{
		font-size:320%;
	}
}
@media(min-width:1280px){
	h2{
		font-size:340%;
	}
}
@media(min-width:1400px){
	h2{
		font-size:360%;
	}
}

h3 {
	font-size: 180%;
	line-height: 1;
	padding:1em 0 .5em 0;
	margin:0;
	text-transform: uppercase;
}
@media(min-width:600px){
	h3{
		font-size:200%;
	}
}
@media(min-width:993px){
	h3{
		font-size:220%;
	}
}
@media(min-width:1280px){
	h3{
		font-size:240%;
	}
}
@media(min-width:1400px){
	h3{
		font-size:260%;
	}
}

h4 {
	font-size: 180%;
	line-height: 1;
	text-transform: uppercase;
	font-weight:500;
	letter-spacing: 7px;
	margin: 1.14rem 0 0.912rem 0;
}
@media(min-width:600px){
	h4{
		font-size:200%;
	}
}
@media(min-width:993px){
	h4{
		font-size:220%;
	}
}
@media(min-width:1280px){
	h4{
		font-size:240%;
	}
}
@media(min-width:1400px){
	h4{
		font-size:260%;
	}
}

h5 {
	font-size: 140%;
	line-height: 1;
	margin: 10px 0 ;
	color:#CBD323;
	font-weight: 700;
}
@media(min-width:600px){
	h5{
		font-size: 130%;
	}
}
@media(min-width:993px){
	h5{
		font-size: 140%;
	}
}
@media(min-width:1280px){
	h5{
		font-size: 160%;
	}
}
@media(min-width:1400px){
	h5{
		font-size:200%;
	}
}

h6 {
	font-size: 120%;
	line-height: 1;
	margin: 0.5rem 0 0.4rem 0;
	color:#CBD323;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}
@media(min-width:600px){
	h6{
		font-size: 100%;
	}
}
@media(min-width:993px){
	h6{
		font-size: 100%;
	}
}
@media(min-width:1280px){
	h6{
		font-size: 120%;
	}
}
@media(min-width:1400px){
	h6{
		font-size:150%;
	}
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*nav > ul > ul #efefef*/

ul#desktop-nav {
	text-transform: uppercase;
}

ul#drawer-nav {
	text-transform: uppercase;
}

nav ul li {
	transition: background-color .3s;
	float: left;
	padding: 0;
	width: 16.6667%;
	width: calc(100% / 6);
}
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #039be5;
}

a:visited {
	/*color: #039be5;*/
}

a:hover,
a:focus,
a:active {
	color: #afaeae;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle:before {
	content: "\2630";
	display: inline-block;
	margin-right: 5px;
}


.main-navigation ul {
	display: block;
}

.m-container nav {
	color: #fff;
	/*background-color: transparent;*/
	width: 100%;
	/*height: 56px;*/
	overflow: hidden;
	box-shadow: 0 0 0;
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
nav.navigation.post-navigation {
	background: transparent;
	box-shadow: 0 0;
}

/*--------------------------------------------------------------
# Header Stuff
--------------------------------------------------------------*/
.header-logo {
	position: relative;
	line-height: 1;
	height: 64px;
}
@media only screen and (max-width: 600px){
	.header-logo {
		position: relative;
		line-height: 1;
		height: 54px;
	}
}
.header-logo img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
.textwidget {
	padding: 10px 20px;
}

#secondary h1.widget-title {
	font-size: 2.6rem;
	font-weight: 300;
	display: block;
	padding: 10px 20px;
}
.rpwidget {
	border: 0;
}

.rpwidget .collection-item.avatar {
	height: 100%;
	padding-left: 72px;
	position: relative;
}

.rpwidget .collection-item {
	background-color: #fff;
	line-height: 1.5;
	padding: 20px 20px;
	margin: 0px;
	border-bottom: 1px solid #e0e0e0;
}

ul.collection.rpwidget {
	background: #fff;
	padding: 0;
	margin-top: -20px;
}
aside.widget_nav_menu {
	margin-bottom: 0;
}

.widget ul.menu {
	margin: -20px 0 0;
	padding: 0;
}

.widget ul.menu li {
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 10px;
}

.widget ul.menu li:last-of-type {
	border-bottom: 0;
}
div#calendar_wrap {
	padding: 10px 15px;
}

ul#recentcomments {
	margin: 0 15px;
}

.widget form.search-form {
	margin: 0 20px 0 10px;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.container {
	padding: 0 1.25rem;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}
.site-branding {
	padding-top: 6px;
}
div#content {
	/*padding-top: 20px;*/
}
/* card display */

.card {
	position: relative;
	overflow: hidden;
	margin: 0.5rem 0 1rem 0;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
}

.card .card-title {
	background: rgba(255,255,255,.8);
}

.card .card-image .card-title {
	padding: 0px 20px 20px;
}

.card a {
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	transition: color 0.3s ease;
	text-transform: none;
}

.card-title h1.entry-title {
	font-size: 2.2rem;
	text-transform: none;
	line-height: 2.8;
	margin: 1.8rem 0 1rem 0;
}

.card-title .entry-meta {
	font-size: 1.3rem;
}

.card .card-content p {
	margin: 0;
	margin-bottom: 20px;
	font-size: 1.1rem;
	color: #666;
}

.card-content ul {
	margin: 0;
}
@media screen and (max-width: 568px) {

	.card .card-image .card-title {
		position: relative;
		bottom: 0;
		left: 0;
		padding: 0;
	}

	h1.entry-title {
		font-size: 2.0rem;
		text-transform: none;
		line-height: 2.4;
		padding: 0 1.2rem;
	}

	.entry-meta {
		padding: 0 1.2rem;
		font-size: 22px;
	}

}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
h2.comments-title, h3#reply-title {
	font-size: 20px;
	margin: 0;
}

.comments-title .btn-large {
	margin-top: 10px;
}

ol.comment-list {
	margin: 0;
	padding: 0;
}

.comment-list li.comment {
	padding-top: 20px;
}

img.avatar.circle.left.avatar-90 {
	margin-right: 40px;
}

.comment-meta.commentmetadata {
	margin-bottom: 20px;
}

.divider {
	margin: 20px 0 0;
}

.comment ol.children {
	margin-left: 0;
	padding-left: 20px;
}

.comment ol.children ol.children {
	padding-left: 50px;
}

form#commentform {
	padding: 25px;
}

.comment-form p.form-submit {
	display: none;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
